<div class="cf-container">
    <form>
        <div class="first-row">
            <input type="text" placeholder="családi neved" style="margin-right: 9px;">
            <input type="text" placeholder="keresztneved" style="margin-left: 9px;">
        </div>
        <div class="second-row">
            <input type="email" placeholder="e-mail címed">
        </div>
        <div class="third-row">
            <textarea placeholder="mi az üzeneted?" cols="42"></textarea>
        </div>
    </form>
</div>