<footer class="full-width-footer">
    <div class="footer-layout">
        <div>
            <h1>Navigation</h1>
            <p>Főoldal</p>
            <p>Rólam</p>
            <p>Szolgáltatásaim</p>
            <p>Online tréningek</p>
            <p>Kapcsolat</p>
        </div>
        <div>
            <h1>Social Media</h1>
            <p>Instagram</p>
            <p>YouTube</p>
            <p>Facebook</p>
        </div>
        <div>
            <h1>Contacts</h1>
            <p>1312312312</p>
            <p>mail@gmail.com</p>
        </div>
    </div>
</footer>