<header class="full-width-header">
    <div class="header-layout">
        <div class="left-section">
            <img src="assets/images/logo.png">
        </div>
        <nav class="font-pns-reg">
            <a href="/">Főoldal</a>
            <a href="rolam.html">Rólam</a>
            <a href="szolgaltatasaim.html">Szolgáltatásaim</a>
            <a href="onlinetreningek.html">Online tréningek</a>
            <a href="kapcsolat.html">Kapcsolat</a>
        </nav>
        <div class="right-section">
            <img src="assets/images/instagram-icon-3d.png">
            <img src="assets/images/youtube-icon-3d.png">
            <img src="assets/images/facebook-icon-3d.png">
        </div>
    </div>
</header>