<div class="full-width-portrait">
    <div class="portrait-layout">
        <div class="left-section">
            <img src="assets/images/guyinsuit.jpg">
        </div>
        <div class="right-section">
            <div class="text-container">
                <h1>
                    Welcome to the page
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut facilisis risus. Vivamus vestibulum lacinia leo, non maximus massa sollicitudin vitae. Donec vitae congue mauris, et sollicitudin enim. Morbi laoreet erat nec diam efficitur, vel pulvinar risus fermentum. 
                </p>
                <button>Contact Us Now!</button>
            </div>
        </div>
    </div>
</div>