.cf-container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--page-container-size);
    background-color: var(--colour-primary);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cf-container input {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    outline: none;

    border: 5px solid var(--colour-primary);
    height: 50px;
    line-height: normal;
    color: var(--colour-primary);
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    padding: 0 6px;
    padding-left: 12px;
}

.cf-container input:focus {
    border: 5px solid var(--colour-secondary);
}

.cf-container textarea {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    outline: none;
    resize: none;

    border: 5px solid var(--colour-primary);
    height: 150px;
    line-height: normal;
    color: var(--colour-primary);
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    padding: 0 6px;
    padding-left: 12px;
}

.cf-container textarea:focus {
    border: 5px solid var(--colour-secondary);
}

.cf-container .first-row {
    display: flex;
    margin: 18px;
}

.cf-container .second-row {
    margin: 18px;
}

.cf-container .third-row {
    margin: 18px;
}